* text=auto

*.java text eol=lf
*.xml text eol=lf
*.css text eol=lf
*.md text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.ico binary
*.jar binary
*.exe binary
*.msi binary
*.zip binary
